asgiref==3.11.1
charset-normalizer==3.4.7
crispy-tailwind==1.0.3
Django==6.0.4
django-crispy-forms==2.6
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.2.0
pyserial==3.5
reportlab==4.4.10
sqlparse==0.5.5
tzdata==2026.1
vgamepad==0.1.0
